<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <appSettings configSource="settings.config" />
  <connectionStrings configSource="sql.config" />

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <membership defaultProvider="CustomProvider">
      <providers>
        <add name="CustomProvider" type="NiCris.WCF.REST.Interceptors.CustomMembershipProvider"/>
      </providers>
    </membership>    
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>

    <!--SERVICES-->
    <services>
      <!--Non Security-->
      <service behaviorConfiguration="NoAuth_Behavior" name="NiCris.WCF.REST.BizMsgService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="noSecBind" contract="NiCris.WCF.REST.BizMsgService" />
      </service>

      <!--Win Auth-->
      <service behaviorConfiguration="WinAuth_Behavior" name="NiCris.WCF.REST.BizMsgServiceWinAuth">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="wbBind" contract="NiCris.WCF.REST.BizMsgServiceWinAuth" />
      </service>

      <!--Basic Auth thru Interceptor-->
      <service behaviorConfiguration="NoAuth_Behavior" name="NiCris.WCF.REST.BizMsgServiceBasicAuth">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="noSecBind" contract="NiCris.WCF.REST.BizMsgServiceBasicAuth" />
      </service>      
    </services>

    <!--BEHAVIOURS-->
    <behaviors>
      
      <serviceBehaviors>
        
        <behavior name="WinAuth_Behavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization impersonateCallerForAllOperations="true" />
          
          <serviceCredentials>
            <windowsAuthentication includeWindowsGroups="true" allowAnonymousLogons="false" />
          </serviceCredentials>
        </behavior>

        <behavior name="NoAuth_Behavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>        
        
      </serviceBehaviors>
    </behaviors>

    <!--BINDINGS-->
    <bindings>
      <webHttpBinding>

        <binding name="wbBind" transferMode="StreamedResponse" maxReceivedMessageSize="1000000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="Windows"/>
          </security>
        </binding>

        <binding name="noSecBind" transferMode="StreamedResponse" maxReceivedMessageSize="1000000">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>

      </webHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>
