<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <appSettings configSource="settings.config" />
  <connectionStrings configSource="sql.config" />

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>

    <!--SERVICES-->
    <services>
      <service behaviorConfiguration="WindowsAuthentication_Behavior" name="NiCris.WCF.REST.BizMsgService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="wbBind" contract="NiCris.WCF.REST.BizMsgService" />
      </service>
    </services>

    <!--BEHAVIOURS-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="WindowsAuthentication_Behavior">
          
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          
          <!--<serviceAuthorization impersonateCallerForAllOperations="true" />
          <serviceCredentials>
            <windowsAuthentication includeWindowsGroups="true" allowAnonymousLogons="false" />
          </serviceCredentials>-->
         
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!--BINDINGS-->
    <bindings>
      <webHttpBinding>
        <binding name="wbBind" transferMode="StreamedResponse" maxReceivedMessageSize="1000000">
          
          <!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="Windows"/>
          </security>-->

          <security mode="None">
            <transport clientCredentialType="None" />
          </security>          
          
        </binding>
      </webHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>
